* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .parent {
    width: 550px;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    
  }
  .child-1,
  .child-2 {
    background-color: #eeeeee;
    width: 50%;
    box-sizing: border-box;
    /* margin-right: -20px; */
    float: left;
    /* padding: 20px; */
  }
  a {
    background-color: #03a9f4;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 150px;
    
    height: 20px;
    line-height: 3px;
   
    display: inline-block;
    margin-top: 25px;
    border-radius: 5px;
    font-weight: bold;
  }
  .child-2::before {
    content: "Or";
    background-color: #03a9f4;
    font-size: smaller;
    color: white;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    left: 260px;
    top: 120px;
    font-weight: bold;
  }
  p {
    background-color: #dddddd;
    border-radius: 50%;
    width: 150px;
    height: 150px;

    margin-top: 15px;
    margin-left: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
  }


  hr {
    position: absolute;
    height: 220px; 
    width: 200px; 
    border: 5px solid 009688;
    border-color: transparent #03a9f4 transparent transparent;
    left: 72px;
  }



